<div class="all">
  <div class="divcard">
    <div class="divcardContainer">
      <!-- Add Department Header -->
      <!-- <div class="form-group"> -->
      <div class="row">
        <div class="col-md-12">
          <h2>Add Department to Event</h2>
        </div>
      </div>
      <!-- </div> -->
      <!-- Search -->
      <!-- <div class="form-group"> -->
      <div class="row">
        <div class="col-12">
          <div class="search">
            <input type="text" class="searchTerm" placeholder="Search for a department">
            <button type="submit" class="searchButton">
              <i class="material-icons">search</i>
            </button>
          </div>
        </div>
      </div>
      <div>
        <br>
      </div>
    </div>
    <!-- </div> -->
  </div>
  <div>
    <br>
  </div>
  <!-- Department Table -->
  <div class="divcard">
    <div class="row">
      <table class="tablecard">
        <tbody>
          <tr>
            <th>Name:</th>
          </tr>
          <tr>
            <td>Functional</td>
          </tr>
          <tr>
            <td>Technical</td>
          </tr>
          <tr>
            <td>Human Resources</td>
          </tr>
        </tbody>
      </table>
      <div>
        <br>
      </div>
    </div>
  </div>

</div>

<!-- Save and Cancel Buttons -->
<div class="divcardblank">
  <div style="margin: 10px;">
    <button type="button" class="btn btn-secondary" style="box-shadow: 7px 7px 7px #dbdbdb;">Save</button>
  </div>
  <div style="margin: 10px;">
    <button type="button" class="btn btn-danger" style="box-shadow: 7px 7px 7px #dbdbdb;"
      [mat-dialog-close]>Back</button>
  </div>
</div>
