<!-- Add Department Header -->
<h2 mat-dialog-title id="mybutton">Please Select a Department</h2>
<mat-dialog-content>
  <!-- Search -->
  <div id="mybutton">
    <div class="search text-center" style="width: 50%;">
      <input type="text" class="searchTerm" placeholder="Search for an Employee Qualification" />
      <button type="submit" class="searchButton">
        <i class="material-icons">search</i>
      </button>
    </div>
  </div>
  <br />
  <div class="divcard">
    <!-- Department Table -->
    <table class="tablecard">
      <tbody>
        <tr>
          <th>Name:</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td>Functional</td>
          <td>
            <button type="button" class="btn btn-light">
              <i class="material-icons" style="color: black;">edit</i>
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-light">
              <i class="material-icons" style="color: black;">delete</i>
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-light">
              <i class="material-icons" style="color: black;" (click)="addDepartmentToList()" [mat-dialog-close]>add</i>
            </button>
          </td>
        </tr>
        <tr>
          <td>Technical</td>
          <td>
            <button type="button" class="btn btn-light">
              <i class="material-icons" style="color: black;">edit</i>
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-light">
              <i class="material-icons" style="color: black;">delete</i>
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-light">
              <i class="material-icons" style="color: black;" (click)="addDepartmentToList()" [mat-dialog-close]>add</i>
            </button>
          </td>
        </tr>
        <tr>
          <td>Human Resources</td>
          <td>
            <button type="button" class="btn btn-light">
              <i class="material-icons" style="color: black;">edit</i>
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-light">
              <i class="material-icons" style="color: black;">delete</i>
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-light">
              <i class="material-icons" style="color: black;" (click)="addDepartmentToList()" [mat-dialog-close]>add</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
</mat-dialog-content>
<!-- Save and Cancel Buttons -->
<mat-dialog-actions>
  <div id="mybutton">
    <button type="button" class="btn btn-secondary" style="box-shadow: 7px 7px 7px #dbdbdb;"
      [mat-dialog-close]>Save</button>
  </div>
  <div id="mybutton">
    <button type="button" class="btn btn-light" style="box-shadow: 7px 7px 7px #dbdbdb; color: black;"
      [mat-dialog-close]>Back</button>
  </div>
</mat-dialog-actions>
