<div class="carrd">
  <p style="font-weight: bold;">Meeting Title</p>
  <p style="font-weight: 450;"><i class="far fa-clock"></i> 9:00am - 10:00am</p>
  <p style="font-weight: 450;"><i class="fa fa-map-marker" aria-hidden="true"></i> Main Conference Room</p>
  <p>bhjdfudhfkjdsafksdaf hdsafhsdkjfhdsjkfhsd sajfhdsjkfhsdjkfhsda sdjafhsdajkfhsdakj dshjkfhsdajkf sfhjdks dskjahf
    skhfsdj fh hfjdsk hkjsdfhsdjk fhjsd kjfwehdsjk fhsdj sdjk fdsjkhfjkds fjkdshf ksfhdskj jksdfhsakjdh  dhfjksdhfjdshfjk dshfjdks</p>
    <footer class="blockquote-footer">
      <small class="text-muted">
        Ron Weasly Hogwarts
      </small>
    </footer>
</div>

<div class="carrd">
  <p style="font-weight: bold;">Meeting Title</p>
  <p style="font-weight: 450;"><i class="far fa-clock"></i> 9:00am - 10:00am</p>
  <p style="font-weight: 450;"><i class="fa fa-map-marker" aria-hidden="true"></i> Main Conference Room</p>
  <p>bhjdfudhfkjdsafksdaf hdsafhsdkjfhdsjkfhsd sajfhdsjkfhsdjkfhsda sdjafhsdajkfhsdakj dshjkfhsdajkf sfhjdks dskjahf
    skhfsdj fh hfjdsk hkjsdfhsdjk fhjsd kjfwehdsjk fhsdj sdjk fdsjkhfjkds fjkdshf ksfhdskj jksdfhsakjdh  dhfjksdhfjdshfjk dshfjdks</p>
    <footer class="blockquote-footer">
      <small class="text-muted">
        Ron Weasly Hogwarts
      </small>
    </footer>
</div>

<div class="carrd">
  <p style="font-weight: bold;">Meeting Title</p>
  <p style="font-weight: 450;"><i class="far fa-clock"></i> 9:00am - 10:00am</p>
  <p style="font-weight: 450;"><i class="fa fa-map-marker" aria-hidden="true"></i> Main Conference Room</p>
  <p>bhjdfudhfkjdsafksdaf hdsafhsdkjfhdsjkfhsd sajfhdsjkfhsdjkfhsda sdjafhsdajkfhsdakj dshjkfhsdajkf sfhjdks dskjahf
    skhfsdj fh hfjdsk hkjsdfhsdjk fhjsd kjfwehdsjk fhsdj sdjk fdsjkhfjkds fjkdshf ksfhdskj jksdfhsakjdh  dhfjksdhfjdshfjk dshfjdks</p>
    <footer class="blockquote-footer">
      <small class="text-muted">
        Ron Weasly Hogwarts
      </small>
    </footer>
</div>

