<div class="text-center">
  <h1>You are invited to <b>EPI-USE Friday</b></h1>
</div>


<div class="text-center">
  <h2>Event Details:</h2>
</div>

<div class="text-center" style="align-content: center; width: 50%;">
  <table class="table table-boarderless">
    <tr>
      <th>Date: </th>
      <th>Time: </th>
      <th>Venue: </th>
    </tr>
    <tr>
      <td>1st of July 2020</td>
      <td>8am - 2pm</td>
      <td>EPI-USE Africa Pretoria office</td>
    </tr>
  </table>
</div>

<div class="row text-center">
  <button class="btn-secondary" style="margin-right: 10px;" mat-raised-button>I'll Be There</button>
  <button class="btn-light" style="margin-right: 10px;" mat-raised-button>I Can't Make It</button>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-md-3 leftlabels">
      <label for="">Event Caterer: </label>
    </div>
    <div class="col-md-1 leftlabels">
      <mat-checkbox name="DietReq" #DietReq="ngModel" [(ngModel)]="eService.eventData.IsCaterer"
        style="font-weight: bold;"></mat-checkbox>
    </div>
    <div class="col-md-3 leftlabels">
      <label for="">Event Caterer: </label>
    </div>
    <div class="col-md-1 leftlabels">
      <mat-checkbox name="DietReq" #DietReq="ngModel" [(ngModel)]="eService.eventData.IsCaterer"
        style="font-weight: bold;"></mat-checkbox>
    </div>
    <div class="col-md-3 leftlabels">
      <label for="">Event Caterer: </label>
    </div>
    <div class="col-md-1 leftlabels">
      <mat-checkbox name="DietReq" #DietReq="ngModel" [(ngModel)]="eService.eventData.IsCaterer"
        style="font-weight: bold;"></mat-checkbox>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 leftlabels">
      <label for="">Event Caterer: </label>
    </div>
    <div class="col-md-1 leftlabels">
      <mat-checkbox name="DietReq" #DietReq="ngModel" [(ngModel)]="eService.eventData.IsCaterer"
        style="font-weight: bold;"></mat-checkbox>
    </div>
    <div class="col-md-3 leftlabels">
      <label for="">Event Caterer: </label>
    </div>
    <div class="col-md-1 leftlabels">
      <mat-checkbox name="DietReq" #DietReq="ngModel" [(ngModel)]="eService.eventData.IsCaterer"
        style="font-weight: bold;"></mat-checkbox>
    </div>
    <div class="col-md-3 leftlabels">
      <label for="">Event Caterer: </label>
    </div>
    <div class="col-md-1 leftlabels">
      <mat-checkbox name="DietReq" #DietReq="ngModel" [(ngModel)]="eService.eventData.IsCaterer"
        style="font-weight: bold;"></mat-checkbox>
    </div>
  </div>
</div>
