<div class="all">
  <h1 class="text-center">Visitor Sign Out</h1>
  <form action="">
    <!-- Search -->
    <div id="mybutton">
      <div class="search text-center" style="width: 50%;">
        <input type="text" class="searchTerm" placeholder="Search for an Employee" />
        <button type="submit" class="searchButton">
          <i class="material-icons">search</i>
        </button>
      </div>
    </div>
    <br />
    <!-- Visitor Sigh Out Table -->
    <div class="divcard">
      <table class="tablecard">
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Company</th>
          <th>Email</th>
          <th>Number</th>
          <th>Status</th>
          <th></th>
        </tr>
        <tr>
          <td>Iain</td>
          <td>Steyn</td>
          <td>Epi Use</td>
          <td>Iain@gmail.com</td>
          <td>076 703 0819</td>
          <td>Signed-In</td>
          <td>
            <button type="button" class="btn">
              Sign Out
              <i class="material-icons" style="color: black;">add</i>
            </button>
          </td>
        </tr>
        <tr>
          <td>Iain</td>
          <td>Steyn</td>
          <td>Epi Use</td>
          <td>Iain@gmail.com</td>
          <td>076 703 0819</td>
          <td>Signed-In</td>
          <td>
            <button type="button" class="btn">
              Sign Out
              <i class="material-icons" style="color: black;">add</i>
            </button>
          </td>
        </tr>
        <tr>
          <td>Iain</td>
          <td>Steyn</td>
          <td>Epi Use</td>
          <td>Iain@gmail.com</td>
          <td>076 703 0819</td>
          <td>Signed-In</td>
          <td>
            <button type="button" class="btn">
              Sign Out
              <i class="material-icons" style="color: black;">add</i>
            </button>
          </td>
        </tr>
        <tr>
          <td>Iain</td>
          <td>Steyn</td>
          <td>Epi Use</td>
          <td>Iain@gmail.com</td>
          <td>076 703 0819</td>
          <td>Signed-In</td>
          <td>
            <button type="button" class="btn">
              Sign Out
              <i class="material-icons" style="color: black;">add</i>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </form>
  <!-- Buttons for save and back -->
  <div class="row">
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-secondary" style="box-shadow: 7px 7px 7px #dbdbdb;">Save</button>
      <button type="button" class="btn btn-light" style="box-shadow: 7px 7px 7px #dbdbdb; color: black; margin: 10px;">Back</button>
    </div>
  </div>
</div>
