<div class="all">
  <div class="row toolbar">
    <mat-toolbar class="test">
      <mat-toolbar-row>
        <span style="padding-left: 2%;">CREATE EVENT</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <!-- Select title for event -->
  <div class="row">
    <div class="col-md-2 leftlabels">
      <label>Title: </label>
    </div>
    <div class="col-md-9">
      <div class="form-group">
        <input type="text" class="form-control" name="EventTitle" #EventTitle="ngModel" [(ngModel)]="eService.eventData.EventTitle">
      </div>
    </div>
  </div>

  <br>

  <!-- Select date and event type -->
  <div class="row">
    <div class="col-md-2 leftlabels">
      <label for="">Date: </label>
    </div>
    <!-- Select date for event -->
    <div class="col-md-4">
      <div class="form-group">
          <div class="input-group">
            <input [matDatepicker]="dpicker" class="form-control" (click)="dpicker.open()"
                   name="EventDate" #EventDate="ngModel" [(ngModel)]="eService.eventData.EventDate">
            <mat-datepicker #dpicker></mat-datepicker>
            <div class="input-group-append">
              <span href="" class="input-group-text" (click)="dpicker.open()"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
      </div>
    </div>
    <!-- Select event type -->
    <div class="col-md-1 leftlabels">
      <label for="">Type: </label>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <select name="EventTypeID" #EventTypeID="ngModel" [(ngModel)]="eService.eventtypeData.EventTypeID"
                class="form-control">
          <option value="0">-- Select --</option>
          <option *ngFor="let item of eService.eventypeList" value="{{item.EventTypeID}}">{{item.EventTypeDesc}}</option>
        </select>
      </div>
    </div>
  </div>

  <br>

  <!-- Event location -->
  <div class="row">
    <div class="col-md-2 leftlabels">
      <label for="">Location: </label>
    </div>
    <div class="col-md-9">
      <div class="form-group">
        <input type="text" class="form-control" name="EventLocation" #EventLocation="ngModel" [(ngModel)]="eService.eventData.EventLocation">
      </div>
    </div>
  </div>

  <br>

  <!-- Select start and end time for event -->
  <div class="row">
    <!-- start date -->
    <div class="col-md-2 leftlabels">
      <label for="">Start: </label>
    </div>
    <div class="col-md-4">
      <div class="form-group">
          <div class="input-group">
            <input [ngxTimepicker]="spicker" class="form-control"
                   name="EventStartTime" #EventStartTime="ngModel" [(ngModel)]="eService.eventData.EventStartTime">
            <ngx-material-timepicker #spicker></ngx-material-timepicker>
            <div class="input-group-append">
              <span href="" class="input-group-text" (click)="spicker.open()"><i class="fa fa-clock-o"></i></span>
            </div>
          </div>
      </div>
    </div>
    <!-- end date -->
    <div class="col-md-1 leftlabels">
      <label for="">End: </label>
    </div>
    <div class="col-md-4">
      <div class="form-group">
          <div class="input-group">
            <input [ngxTimepicker]="epicker" class="form-control"
                   name="EventEndTime" #EventEndTime="ngModel" [(ngModel)]="eService.eventData.EventEndTime">
            <ngx-material-timepicker #epicker></ngx-material-timepicker>
            <div class="input-group-append">
              <span href="" class="input-group-text" (click)="epicker.open()"><i class="fa fa-clock-o"></i></span>
            </div>
          </div>
      </div>
    </div>
  </div>

  <br>

  <!-- Event description -->
  <!-- <div class="row">
    <div class="col-md-2 leftlabels">
      <label for="">Description: </label>
    </div>
    <div class="col-md-9">
      <div class="form-group">
        <textarea class="form-control" id="eDesc" rows="4"
                  name="EventDesc" #EventDesc="ngModel" [(ngModel)]="eService.eventData.EventDesc">
        </textarea>
      </div>
    </div>
  </div> -->

  <br>
  <!-- Invite buttons, check box, guest count -->
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1">
      <button mat-flat-button class="btn-sm test"><i class="fa fa-plus"> Guest</i></button>
    </div>
    <div class="col-md-0">
      <!-- <button mat-flat-button class="btn-sm test"><i class="fa fa-plus"> Invite Guest</i></button> -->
    </div>
    <div class="col-md-1" style="padding-left: 2%;">
      <button mat-flat-button class="btn-sm test"><i class="fa fa-plus"> Employee</i></button>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-1">
      <mat-checkbox name="IsCaterer" #IsCaterer="ngModel" [(ngModel)]="eService.eventData.IsCaterer">Event Caterer</mat-checkbox>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <div class="form-group" style="text-align: end;">
        <label for="">Guest count: </label>
        <label for="">{{eService.eventData.GuestCount}}</label>
      </div>
    </div>
  </div>

  <br>
  <!-- save and cancel buttons -->
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1">
      <button mat-flat-button class="btn-sm col2" (click)="createEvent()"><i class="fa fa-pencil"> Save</i></button>
    </div>
    <div class="col-md-0"></div>
    <div class="col-md-1" style="padding-left: 2%;">
      <button mat-flat-button class="btn-sm col3"><i class="fa fa-trash"> Cancel</i></button>
    </div>
  </div>
</div>

<!-- <div class="col-md-2 offset-md-1">
  <div class="form-group">
    <mat-form-field>
      <mat-label>Select a end time</mat-label>
      <input matInput [ngxTimepicker]="epicker">
      <ngx-material-timepicker #epicker></ngx-material-timepicker>
    </mat-form-field>
  </div>
</div>

<mat-form-field>
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="dpicker">
  <mat-datepicker-toggle matSuffix [for]="dpicker"></mat-datepicker-toggle>
  <mat-datepicker #dpicker></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <mat-label>Enter event title</mat-label>
  <input matInput>
</mat-form-field>

<label id="ept">EXERCISE PLAN TYPE</label>
<select id="sept" name="ExercisePlanTypeID" #ExercisePlanTypeID="ngModel" [(ngModel)]="service.formData.Exercise_Plan_Type_ID" class="form-control"
        (change)="updatePrice($event.target)" [class.is-invalid]="!isValid && service.formData.Exercise_Plan_Type_ID==0">
    <option value="0">-- Select --</option>
    <option *ngFor="let item of epTypeList" value="{{item.Exercise_Plan_Type_ID}}">{{item.Plan_Type_Description}}</option>
</select>

<input id="iepn" name="ExercisePlanName" #ExercisePlanName="ngModel" [(ngModel)]="service.formData.Exercise_Plan_Name" class="form-control"
                [class.is-invalid]="!isValid && service.formData.Exercise_Plan_Name==''">

<mat-checkbox>Check me!</mat-checkbox>
-->
