<footer class="footer">
  <div class="row">
    <div class="col-md-6 divvy">
      <a class="foot" href="#">
        <img src="../../assets/img/EPIUSE Logo.jpeg" style="float: right;">
      </a>
      <p>Epi Use Slogan Here</p>
      <p>maybe a link to HR here</p>
    </div>
    <div class="col-md-6 divvy2 text-right">
      <table class="table-borderless">
        <tr>
          <td><i class="fa fa-map-marker"></i> Address: Epi Use Address</td>
        </tr>
        <tr>
          <td><i class="fa fa-phone"></i> Phone: +27 012 420 3657</td>
        </tr>
        <tr>
          <td><i class="fa fa-envelope"></i> Email: EpiuseEmail@gmail.com</td>
        </tr>
      </table>
    </div>
  </div>
  <hr class="red">
</footer>
